<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/cfbbdf49a0.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header>
        <div class ="logo"> </div>
        
        
        <nav class="menu">

            <input type="checkbox" id="menu">
            <label for="menu"> ☰ </label>
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Quienes</a></li>
                <li><a href="/">Servicios</a></li>
                <li><a href="/">Portfolio</a></li>
                <li><a href="/">Sucursales</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="home__boxBanner">
            <img src="img/img-banner.jpg" alt="">
        </section>
        <section class="home__box-products">
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-1.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-descuento.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
        
       
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-2.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-gratis.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
       
        
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-3.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-nuevo.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
        
        
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-1.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-descuento.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
        
       
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-2.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-gratis.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
      
            <article class="home__product">
                <div class="home__product_box__image">
                    <img class="home__product__image" src="img/img-pdto-3.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="img/img-nuevo.png" alt="sticker-descuento">
                    <a href="" class="home__product_box__zoom">Ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat excepturi assumenda ex quam nihil!</p>
                <a class="home__product__more" href="#">Ver más</a>
            </article>
        </section>
    </main>
    
    <footer>    
        <nav class="footer__menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Quienes</a></li>
                <li><a href="/">Servicios</a></li>
                <li><a href="/">Portfolio</a></li>
                <li><a href="/">Sucursales</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>