@keyframes rotacion {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);

    }   

    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {

        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);

    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header .logo {
    border: solid 1px var(--colorGrisClaro);
    border-color: black;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-image: url('/img/logo.jpg');
    background-position: center;
    background-size: cover;
    margin: 30px 0;
    animation: rotacion 10s normal infinite linear;
    
    

}

header .menu {
    width: 100%;
    
    
}

header .menu ul {
    display: none;
    flex-direction: column;
}

header .menu input{
    display: none;
    
    
}


header .menu input:checked ~ ul{

    display: flex;
}

header .menu label {
    display: flex;
    width: 50px;
    padding: 5px ;
    font-size:32px;
    color:white;
    background-color:var(--colorGrisClaro);
    border-radius: 5px;
    border: none;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    
}

header .menu li {
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 2px white;

}

header .menu li:hover,.home__product__more:hover{
    background-color: rgb(255, 123, 0) ;
    transition: all 0.5s;
}

@media (min-width : 460px) {
    

    header .menu input:checked ~ ul {
        display: flex;
    }

    header .menu ul {
        display: flex;
    }
    header div button {
        display: none;  
    }

    header .menu label {
        display: none;
    }

    header .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    


    header .menu li {
    font-size: 0.6rem;
    width: 15%;
    
    }

  
   
}


/* laptops */

@media (min-width: 768px){
    .header__menu li {
      font-size: 1rem;
    }
}